body {
    background-color: lightgrey;
    font-size: 13px;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}
/* Para evitar que las etiquetas de ancla tengan decoracion */
a {
    cursor: pointer;
    text-decoration: none;
}
/* Estilos para el Barra de menú */
.menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: auto;
}
.menu a {
    cursor: pointer;
    text-decoration: none;
}
.menu__title-main {
    align-items: center;
    display: flex;
    font-size: 18px;
    letter-spacing: 1.0px;
    margin: 25px;
    text-transform: uppercase;
}
.menu__nav-section {
    align-items: center;
    display: flex;
    letter-spacing: 1.36px;
    text-transform: uppercase;
}
.menu__nav-section li {
    list-style: none;
    margin-right: 25px;
}
.menu__home-search {
    align-items: center;
    border-radius: 150px;
    display: flex;
    height: 13px;
    font-weight: bold;
    text-align: left;
    width: 180px;
}
.menu__home-icon {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-right: 5px;
    width: 25px;
    height: 25px;
}
/* Estilos para el sección de Sliders */
.container {
    background-color: white;
    margin: auto;
    padding: 30px;
    width: 800px;
    height: 370px;
}
.container__slider {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 800px;
    height: 295px;
    position: relative;
}
.container__slider li {
    background-color: white;
    height: inherit;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity .5s;
    width: inherit;
}
.container__slider li img {
    height: 300px;
    object-fit: cover;
    width: 100%;
}
.container__slider li:first-child {
    opacity: 1;
}
.container__slider li:target {
    opacity: 1;
}
.container__slider-menu {
    list-style: none;
    margin: 20px;
    padding: 0;
    text-align: center;
}
.container__slider-menu li {
    display: inline-block;
    text-align: center;
}
.container__slider-menu li a {
    background-color: grey;
    border-radius: 100%;
    color: white;
    display: inline-block;
    font-size: 20px;
    height: 20px;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    width: 20px;  
}
/* Estilos para el separador horizontal del home */
.separator__home { 
    border: 4px;
    border-style:solid;
    color: grey;
    margin-bottom: 60px;
    padding: 0;
    width: 92%;
}
/* Estilos para el sección de Destacados */
.featured {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.featured__header {
    font-size: 25px;
    letter-spacing: 1.56px;
    margin: 50px 20px 30px 150px;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
}
.featured__container {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 15px 25px 65px 0px;
}
.featured__poem {
    text-align: center;
}
.featured__poem span {
    font-weight: 600;
    letter-spacing: 1.68px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.featured__poem--title-autor {
    font-size: 25px;
    margin: 10px 0px 5px 0px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.featured__poem--autor {
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
.featured__poem--content {
    margin: 0px 20px 0px 20px;
    padding: 0px 20px 0px 20px;
    text-align: justify;
}
.featured__poem--readmore {
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 100%;
    font-weight: 600;
    margin: 0px 30px 0px 190px;
    padding: 0;
    text-align: center;
    text-decoration: underline;
    vertical-align: baseline; 
}
/* Estilos para el sección del Hilo Twitter */
.twitter {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px 0px 50px 0px;
    padding: 0;
}
.twitter__thread {
    height: 550px;
    width: 500px;
}
.twitter__astronauta {
    border-radius: 50px;
    height: 520px;
    width: 500px;
}
/* Estilos para el formulario de Regala un Poema */
.explanation{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.explanation__title {
    font-size: 25px;
    letter-spacing: 1.56px;
    margin: 60px 0 20px 0;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
}
.explanation p {
    text-align: justify;
}
.gift {
    background: lightgrey;;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    margin: 30px 0px 40px 0px;
    min-height: calc(100vh - 200px); 
}
.gift p {
    text-decoration: none;
}
.gift p:hover {
    text-decoration: underline;
}
.gift__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: blueviolet;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 60px 68px 40px;
    min-height: 500px;
    width: 350px;
}
.gift__container h2 {
        display: flex;
        justify-content: center;
        margin-bottom: -5px;
}
.gift__container--form {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}
.gift__container--done {
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    border-radius: 20px;
    padding: 7px 7px;
}
.gift__container--form-input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-family: 'Muli' sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}
.gift__container--form-labelselect {
    margin-bottom: 15px;
}
.gift__container--form-select {
    margin-top: 5px;
    padding: 2px 20px;
    text-align: start;
}
.gift__container--form-comment {
    resize: none;
}
/* Estilos para el formulario de Registro */
.register {
    background: lightgrey;;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    margin: 30px 0px 40px 0px;
    min-height: calc(100vh - 200px); 
}
.register p {
    text-decoration: none;
}
.register p:hover {
    text-decoration: underline;
}
.register__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: blueviolet;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 60px 68px 40px;
    min-height: 500px;
    width: 255px;
}
.register__container h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.register__container--form {
    display: flex;
    flex-direction: column;
}
.register__container--done {
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    border-radius: 20px;
    padding: 10px 10px;
}
.register__container--form-input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-family: 'Muli' sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}
.register__container--form-radio {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.register__container--form-fecnmto {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.register__container--form-picture {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.register__container--form-comment {
    resize: none;
}
/* Estilos del footer general */
footer {
    align-items: center;
    background-color: #f2f2f2;
    bottom: 0;
    border-top: 1px solid #e4e4e4;
    display: flex;
    font-size: 13px;
    height: 50px;
    justify-content: space-between;
    position: relative;
    width: auto;  
}
footer ul {
    display: flex;
    list-style: none;
    margin: 10px;
    padding-left: 0;
}
footer .footer-left {
    justify-self: left;
}
footer .footer-right {
    justify-self: right;
}
footer ul li a {
    margin: 10px;
    color: #5f6368;
}
